body{
    font-family: 'Poppins', sans-serif;
    background-color: palevioletred;

}

.first{
    background-color: black;
    color: white;
    border-radius: 10px;
    
}
.heading{
    display: flex;
    justify-content: space-around;
    border: 20px 50px 0 50px;
}
.heading-info a{
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    background-color: red;
    border-radius: 15px;
    border-top: 20px;
}
.heading-info{
    width: 528px;
    height: 420px;
}
.heading-image{
  padding-top: 50px;    
}
h1{
   font-size: 70px;
   margin-bottom: 0;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 24px;
    background-color: red;
    border-radius: 15px;
    
    margin:0 20px;
    justify-content: center;
   
}
nav{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    gap: 10px;
    width: 220px;
    padding: 10px;
    border-radius: 10px;

}

footer{
    background-color: black;
    color: brown;
}